@media screen and (max-width: 768px) {
    body{
       background-color: black;
        margin: 0px;
    }
    .navbar{
       background-color: rgb(62, 57, 57);
       margin:0px; 
       padding:0px;
       height: 55px;
    }
    .my-logo{
        font-weight: 700;
        margin-left: 10px;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 0px;
        color: white;
        size: 1px;

    }
    .bar{
        float: right;
        background-color: transparent;
        border: none;
        margin-top: 20px;
        margin-right: 30px;
        width: 40px;
        height: 40px;
    }
    .bar:hover{
        opacity: 0.8;
        cursor: pointer;
    }
    .sec1{  
      margin-left: 20px;
      margin-top: 100px;
    
    }
    .sec2{
        margin-left: 20px;
    
    }
    .sec3{
        margin-left: 20px;
    
    }
    .sec4{
        display: inline-block;
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .sec5{
        display: flex;
        justify-content: flex-end;
        align-items:bottom;
        margin-top: 0%;
    }
    
    .title{
        margin-top: 200px;
        display: block;
        color: #FF6B00;
        width: 327px;
        height: 124px;
        font-weight:400px;
        font-size: 56px;
        line-height:64px ;
        margin-bottom: 2px;
    
    }
    .sub-title{
        margin-top: 0px;
        margin-bottom: 5px;
        color: white;
        width: 327px;
        height: 27px;
        font-family: roboto;
        font-weight: 700px;
        font-size: 24px;
        line-height: 32px;
        
    }
    .discription{
        margin-top: 0px;
        color: white;
        width: 327px;
        height: 123px;
        font: bolder;
        font-weight: 400px;
        size: 25px;
        line-height: 24px;
    }
    .logo-1,.logo-2,.logo-3,.logo-4{
        display: inline-block;
    
    }
    .im-1{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        padding: 8px;
    }
    .im-2{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        padding: 8px;
       
    }
    .im-3{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        padding: 8px;
    }
    .im-4{
        width: 40px;
        height: 40px;
        border-radius: 8px;
        padding: 8px;
    }
    .button1{
        background-color: transparent;
        border: transparent;
    }
    .button2{
        background-color: transparent;
        border: transparent;
    }
    .button3{
        background-color: transparent;
        border: transparent;
    }
    .button4{
        background-color: transparent;
        border: transparent;
    }
    .button1:hover
    {
        opacity: 0.8;
        cursor: pointer;
    }
    .button2:hover
    {
        opacity: 0.8;
        cursor: pointer;
    }
    .button3:hover{
        opacity: 0.8;
        cursor: pointer;
    }
    .button4 :hover{
        opacity: 0.8;
        cursor: pointer;
    }
     .pic1{
        display: flex;
        width: 406px;
        height: 350px;
        margin-top: 0px;
    } 

    .mywork{
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: white;
        padding-top: 50px;
        margin-bottom:30px ;
    }
    .title2{
        width: 427px;
        height: 83px;
        font-weight: 400;
        font-size:60px;
        padding-top: 100px;
        padding-bottom: 43px;
        margin-left: 64px;
    }
    .pic2{
        width: 400px;
        height: 237px;
        margin-left: 64px;
        size: 300px;
    }
    .sub-title2{
        width: 427px;
        height: 36px;
        font-size: 30px;
        font-weight: 400;
        font-stretch:semi-expanded;
        margin-left: 30px;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .disc{
        height: 110px;
        font-size: 19px;
        font-weight: 400;
        margin-left: 30px;
        margin-bottom: 6px;
    }
    .button-holder{
        width: 314px;
        height: 40px;
        gap: 12px;
        margin-bottom: 30px;
        transition: 0.3s;
    }
    .css{
       width: 55px;
       height: 40px;
       border: 1px;
       padding: 10px,12px,10px,12px;
       border-color: #8993A4 ; 
       margin-right: 6px;
    }
    .css:hover{
        opacity: 0.8;
        cursor: pointer;
    }
    .html{
        width: 67px;
       height: 40px;
       border: 1px;
       padding: 10px,12px,10px,12px;
       border-color: #8993A4 ; 
       margin-right: 6px;
    }
    .html:hover{
        opacity: 0.7;
    }
    .boot{
        width: 95px;
       height: 40px;
       border: 1px;
       padding: 10px,12px,10px,12px;
       border-color: #8993A4 ;
       margin-right: 6px; 
    }
    .boot:hover{
        opacity: 0.7;
    }
    .ruby{
       width: 61px;
       height: 40px;
       border: 1px;
       padding: 10px,12px,10px,12px;
       border-color: #8993A4 ; 
       
    }
    .ruby:hover{
        opacity: 0.7;
    }
    .see{
        display: inline-block;
        width: 160px;
        height: 48px;
        padding: 12px;
        gap: 10px;
        background-color:#FF6B00 ;
        color: white;
        border: none;
        margin-top: 10px;
    }
    .see:hover{
        opacity: 0.8;
        cursor: pointer;
        transition: 0.3s;
        transform: translateY(-8px);
    }
    .repeted{
        background-repeat:no-repeat;
        margin-bottom: 10px;
        height: 700px;
        background-image: url(thumbnails/Img\ Placeholder\ \(1\).png);
        margin-top: 40px;
        background-size: 100vw;
    }
    .title3{
        color: white;
        width: 295px;
        height: 81px;
        font-weight: 400;
        font-size: 42px;
        line-height: 44px;
        margin-top: 218px;
        margin-left: 10px;
    }
    .disc2{
        width: 390px;
        color: white;
        font-size: 21px;
        font-weight: 400;
        margin-left: 10px;
    
    }
    .button-holder2{
        width: 347px;
        height: 40px;
        gap: 12px;
        margin-top: 45px;
    }
    .html2{
        width: 67px;
       height: 40px;
       border: 1px;
       padding: 10px,12px,10px,12px;
       border-color: #8993A4 ; 
       margin-right: 6px;
       margin-left: 10px;
    }
    .boot2{
       width: 95px;
       height: 40px;
       border: 1px;
       padding: 10px,12px,10px,12px;
       border-color: #8993A4 ;
       margin-right: 6px; 
    }
    .ruby2{
       width: 61px;
       height: 40px;
       border: 1px;
       padding: 10px,12px,10px,12px;
       border-color: #8993A4 ; 
       
    }
    .see2{
        display:block;
        width: 100%;
        height: 48px;
        background-color:#FF6B00 ;
        color: white;
        border: none;
        margin-top: 160px;
    }
    .see2:hover{
        opacity: 0.8;
    }
    .footer{
        margin-top: 100px;
    }
    
    .aboutme{
        background-color: black;
        width: 100%;
        height: 523px;
        margin-top: 50px;
        padding-bottom: 250px;
    }
    .me{
        width: 327px;
        color:#FF6B00;
        font-weight: 400;
        font-size: 78px;
        margin-top: 130px;  
        margin-bottom: 20px;
        margin-left: 30px;
    }
    .disc3{
        width: 327px;
        color: white;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        margin-left: 30px;
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .resume{
        width: 170px;
        height: 48px;
        padding: 12px;
        gap: 10px;
        background-color: #FF6B00;
        color: white;
        margin-top: 2px;
        margin-left: 30px;
    }
    .frame{
       display: flex;
       flex: 1;
       height: 230px;
       justify-content: end;
    
    }
    .skill{
        background-color: black;
        margin-top: 3px;
    }
    .rec1{
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-top: 40px;
        margin-left: 210px;  
    }
    .rec2{
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-top: 20px;
        margin-left: 200px; 
    }
    .rec3{
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-top: 20px;
        margin-left: 250px; 
    }
    .lang{
        display: inline-block;
        color: white;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        text-align: center;
        margin: 0px;
    }
    .love{
        color: white;
        text-align: center;
    }
}